@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Вспомогательные*/
.p-l-4 {
  padding-left: 4px; }

.p-l-8 {
  padding-left: 8px; }

.p-r-4 {
  padding-right: 4px; }

.p-r-24 {
  padding-right: 24px; }

.h-32 {
  height: 32px; }

.h-56 {
  height: 56px; }

.m-b-16 {
  margin-bottom: 16px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-t-b-8 {
  margin: 8px 0; }

.overflow-hidden {
  overflow: hidden; }

@media (max-width: 767px) {
  .hidden-768 {
    display: none; } }

@media (max-width: 575px) {
  .hidden-576 {
    display: none; } }

@media (min-width: 576px) {
  .show-576 {
    display: none; } }

.h-w-16 {
  height: 16px;
  width: 16px; }

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif; }

a {
  color: #005FAE; }

li {
  text-decoration: none;
  list-style-type: none; }

.link-hover:hover {
  text-decoration: underline;
  cursor: pointer; }

.link-hover:active {
  color: #005FAE;
  text-decoration: underline;
  cursor: pointer; }

.header__top {
  background-color: #005FAE;
  height: 44px; }

.header__bottom {
  background-color: #F7F7F7;
  height: 44px; }

.content {
  padding: 30px 0; }

.wrapper {
  display: flex; }
  @media (max-width: 1200px) {
    .wrapper {
      flex-direction: column; } }
  .wrapper .wrapper__main {
    flex-grow: 1; }

.wrapper__main .give-feedback {
  margin-right: 50px; }
.wrapper__main .back-button {
  margin-bottom: 16px; }
.wrapper__main .name-company {
  margin-bottom: 18px; }
.wrapper__main .search-form {
  margin-bottom: 32px; }

.back-button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .back-button__text {
    line-height: 20px;
    color: #005FAE; }

.name-company {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .name-company__text {
    padding-left: 8px;
    font-size: 24px;
    font-weight: 500;
    color: #212121; }

.view-company {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center; }
  .view-company__text {
    padding-left: 4px; }

.container-fluid {
  padding: 0 30px;
  max-width: 1500px; }

.breadcrumb {
  list-style: none;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 12px; }
  .breadcrumb-item {
    padding-left: 2px !important; }
    .breadcrumb-item:before {
      padding-right: 0px !important; }
    .breadcrumb-item.active a {
      color: #212121; }
    .breadcrumb-item a {
      color: #666666; }
      .breadcrumb-item a:hover {
        color: #005FAE; }

.breadcrumb-block {
  margin-bottom: 16px; }

.search-form {
  max-width: 940px;
  height: 40px;
  position: relative;
  border: 2px solid #005FAE;
  border-radius: 5px; }
  .search-form .input-style {
    border: none;
    font-size: 14px;
    padding-left: 12px;
    line-height: 36px; }
  .search-form__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 64px;
    background-color: #005FAE;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; }
  .search-form__button:hover {
    opacity: 0.9; }
  .search-form__button:active {
    opacity: 0.8; }

.give-feedback {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center; }
  .give-feedback__text {
    padding-left: 4px; }

.btn {
  background-color: white;
  display: flex;
  height: 40px;
  width: 240px;
  border: 1px solid #00C346;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer; }
  @media (max-width: 580px) {
    .wrapper__main .btn {
      margin-top: 16px; } }

.btn_green {
  color: #00C346; }
  .btn_green:hover {
    background-color: #00C346;
    color: white; }
  .btn_green:active {
    opacity: 0.8;
    background-color: #00C346;
    color: white; }

.advertisement {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; }
  .advertisement__title {
    white-space: normal;
    font-size: 19px;
    font-weight: 500;
    color: #212121;
    line-height: 28px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 8px;
    margin-bottom: 16px; }

.photo-gallery {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 50px; }
  .photo-gallery__title {
    white-space: normal;
    font-size: 19px;
    font-weight: 500;
    color: #212121;
    line-height: 28px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 8px;
    margin-bottom: 16px; }
  .photo-gallery__items {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px; }
    .photo-gallery__items img {
      margin: 0 8px 8px 0;
      height: 120px; }

.table {
  font-size: 12px; }
  .table .row {
    margin: 0;
    margin-left: 15px;
    overflow: hidden; }
  @media (min-width: 768px) {
    .table .column-1 {
      padding: 0;
      text-align: center;
      text-overflow: ellipsis; }
    .table .column-4 {
      padding-left: 0;
      text-overflow: ellipsis; }
    .table .column-5 {
      padding-right: 0;
      text-overflow: ellipsis;
      white-space: normal; } }
  .table__header {
    border-radius: 5px;
    background-color: #F0F0F0;
    align-items: center; }
    .table__header .column-5 {
      line-height: 32px; }
  .table__item {
    border-bottom: 1px solid #E0E0E0; }
    .table__item .item__button {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      background-color: #6199C6;
      font-size: 11px;
      font-weight: 500;
      color: white;
      width: 60px;
      height: 24px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-around;
      margin: 8px 0; }
      .table__item .item__button:hover {
        color: white;
        opacity: 0.9;
        text-decoration: none; }
      .table__item .item__button:active {
        color: white;
        opacity: 0.8;
        text-decoration: none; }
      .table__item .item__button_buy {
        background-color: #EE6C4D; }
    .table__item .item__name-product {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .table__item .item__photo {
      object-fit: cover;
      height: 40px;
      width: 30px;
      margin: 8px 0; }
    .table__item .item__fio {
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .table__item .item__company {
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.info-company__logo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  @media (max-width: 991px) {
    .info-company__logo {
      justify-content: center; } }
  .info-company__logo img {
    width: 180px;
    height: 80px; }
.info-company__text {
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  background-color: #F0F0F0;
  line-height: 20px; }

.wrapper__promo {
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px; }
  @media (max-width: 1200px) {
    .wrapper__promo {
      margin-left: 0px; } }

.promo__item {
  width: 160px;
  height: 320px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA; }
  @media (max-width: 1200px) {
    .promo__item {
      width: 100%;
      height: 160px;
      margin-left: 0; } }
